# This workflow will install Python dependencies, run tests and lint.
# For more information see: https://docs.github.com/en/actions/use-cases-and-examples/building-and-testing/building-and-testing-python

name: Generate Documentation and Deploy to GitHub Pages


on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write  

jobs:
  build:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install uv with Python
      uses: astral-sh/setup-uv@v7
      with:
        python-version: 3.13

    - name: Install the project for
      run: uv sync --locked --all-extras --dev

    - uses: extractions/setup-just@v3
      with:
        github-token: ${{ secrets.MY_GITHUB_TOKEN }}

    - name: Generate Docs
      run: |
        uv run just docs-build

    - name: Upload static files as artifact
      id: deployment
      uses: actions/upload-pages-artifact@v3 # or specific "vX.X.X" version tag for this action
      with:
        path: site/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
